$fontSize: 200%;
$margin: 20px;
$background: #000;
$textMinWidth: 180px;

.container {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .text {
        position: relative;
        margin: $margin;
        font-size: $fontSize;
        min-width: $textMinWidth;
        text-align: center;
    }
}

.layout {
    height: 100vh;
    background-color: $background;
    animation: changeOpacity 2.5s linear infinite;
}

@keyframes changeOpacity {
	0% {
        opacity: 10%;
    }
    50% {
        opacity: 40%;
    }
    100% {
        opacity: 10%;
    }
}